@font-face {
	font-family: 'Souvenir-demi';
	src: url('fonts/SouvenirStd-Demi.otf');
}
@font-face {
	font-family: 'Souvenir-medium';
	src: url('fonts/SouvenirStd-Medium.otf');
}

h4{
	line-height: 1;
	margin-bottom: 0;
}

.vegItem{
	margin-bottom: 2%;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.vegItem .imgContainer{
	margin-left: -6%;
	margin-top: -4%;
	order: 1;
	width: 50%;
	height:16vw;
	max-height: 250px;
}

.vegItem .imgContainer img{
	width: 100%;
	z-index: 1000;
}
	
.freshNow{
	border:1px solid;
	padding: 1px 4px;
	border-radius: 4px;
	display: inline;
}

.vegItem .vegInfo{
	order: 2;
	padding-left: 40px;
}

.vegInfo h4{
	margin-bottom: 2px;
}

header{
	text-align: center;
	margin: 50px 0 50px 0;
}
header .line{
	height: 2px
}
header h5{
	font-weight: 500;
}

header .titleArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
}

.smallTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "museo-slab";
	font-weight: 700;
}

.line{
	width: 50px;
	height: 1px;
	display: inline-block;
	margin: 0px 10px;
}

header ul{
	display: flex;
	justify-content: space-between;
	padding: 0 0px;
	margin: 0;
}

header li{
	display: inline;

}

button{
	font-size: 2.1rem; 
	line-height: 1.35; 
	font-family: "Souvenir-medium";
	outline: none;
	border:0px;
	opacity: 0.3;
	cursor: pointer;
}
button:hover{
	opacity: 1;
}

.true{
	opacity: 1;
}

.slick-next:before, .slick-prev:before{color: green; opacity:1; font-size: 20px;}
.slick-next{right:-30px;}
.slick-prev{left:-30px;}

header li:hover{
	opacity: 1;
}

.container{
	padding: 0 0px;
}


.stuck{
	position: fixed;
	top:0;
	left: 0;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
	width: 100vw;
	margin-left: 0;
}
.stuck ul{
	padding:8px 0 4px 0;
	width: 80%;
	max-width: 1200px;
	margin:0 auto;
}

.stuckMainDesktop{
	margin-top: 134px;
}

.stuckMainMobile{
	margin-top: 114px;
}

footer{
	margin-top: 30px;
	margin-bottom: 60px;
}

footer .line{
	width: 98%;
	margin-bottom: 30px;
}
.footer{
	text-align: left;
}

.footer h5{
	font-size: 2.2rem;
	font-size: 700;
	margin-bottom: 8px;
	font-family: "Souvenir-medium";
}

.footer p, .footer a{
	font-size: 1.8rem;
	font-weight: 300;
}
.footer p{
	margin-bottom: 16px;
}


@media (max-width: 760px) {
	.titleArea{
		margin-bottom: 10px !important;
	}
 	button{font-size: 1.7rem;}
}

@media (max-width: 650px) {
	footer .line{
		margin-left: 0;
		width: 100%;
	}
	footer{
		margin-left: 7%;
		width: 86%;
	}
	.footer p, .footer a{
		font-size: 1.4rem;
	}
	.footer h5{
		margin-bottom: 0;
	}
	.about{
		margin-bottom: 20px;
	}
	.OM{
		width: 43%;
	}
	.CUESA{
		margin-left: 14%;
		width: 43%;
	}
	.vegItem .imgContainer{
		margin-left:2%;
		margin-top: -4%;
		order: 1;
		width: auto;
		height:108%;
	}

	.vegItem .imgContainer img{
		height:100%;
		width: auto;
	}

	.vegItem {
		margin-bottom: 20px;
		width: 86%;
		margin-left: 7%;
		height: 120px;
	}
	.vegItem .vegInfo{
		padding-left:50px;
	}
	.titleArea{
		margin-bottom: 0px !important;
	}
	button{
		font-size: 4.2rem;
		margin-top: 4px;
	}
	.line{
		width: 30px;
	}
	.monthMask{
		z-index: 100;
		width: 140px;
		height: 4.8rem;
		position: absolute;
	}
	.container .leftBox{
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* Standard syntax */
	}
	.container .rightBox{
		top: 0;
		right: 0;
		background: -webkit-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* Standard syntax */
	}
}
