@font-face {
	font-family: 'Souvenir-demi';
	src: url('fonts/SouvenirStd-Demi.otf');
}
@font-face {
	font-family: 'Souvenir-medium';
	src: url('fonts/SouvenirStd-Medium.otf');
}



html{
	background-color: #F8FFF6;
}

h4{
	line-height: 1;
	margin-bottom: 0;
}

.vegItem{
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	background-color: #E8FCED;
	align-items: center;
}

.vegItem img{
	margin-left: -8%;
	margin-top: -8%;
	order: 1;
	width: 60%;
	height: auto;
}

.vegItem .vegInfo{
	order: 2;
	padding-left: 20px;
}

header{
	text-align: center;
	margin: 50px 0;
}

header .titleArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
}

.smallTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "museo-slab";
	font-weight: 700;
}

.line{
	width: 50px;
	height: 2px;
	background-color: #027003;
	display: inline-block;
	margin: 0px 10px;
}

header ul{
	display: flex;
	justify-content: space-around;
	padding: 0 30px;
	margin: 0;
}

header li{
	display: inline;

}

button{
	font-size: 2.1rem; 
	line-height: 1.35; 
	font-family: "Souvenir-medium";
	color: #027003;
	background-color: #F8FFF6;
	outline: none;
	border:0px;
	opacity: 0.3;
	cursor: pointer;
}
button:hover{
	opacity: 1;
}

.true{
	opacity: 1;
}

.slick-next:before, .slick-prev:before{color: green; opacity:1; font-size: 20px;}
.slick-next{right:-30px;}
.slick-prev{left:-30px;}

header li:hover{
	opacity: 1;
}

footer{
	text-align: center;
}

@media (max-width: 720px) {
	.titleArea{
		margin-bottom: 10px !important;
	}
}
