@font-face {
	font-family: 'Souvenir-demi';
	src: url('fonts/SouvenirStd-Demi.otf');
}
@font-face {
	font-family: 'Souvenir-medium';
	src: url('fonts/SouvenirStd-Medium.otf');
}



html{
	background-color: #F8FFF6;
}

h4{
	line-height: 1;
	margin-bottom: 0;
}

.vegItem{
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	background-color: #EEFEEF;
	align-items: center;
}

.vegItem img{
	margin-left: -8%;
	margin-top: -8%;
	order: 1;
	width: 60%;
	height: auto;
}

.vegItem .vegInfo{
	order: 2;
	padding-left: 20px;
}

header{
	text-align: center;
	margin: 50px 0;
}

header .titleArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 50px 0;
}

.smallTitle{
	display: flex;
	flex-direction: row;
	align-items: center;
	font-family: "museo-slab";
	font-weight: 700;
}

.line{
	width: 50px;
	height: 2px;
	background-color: #027003;
	display: inline-block;
	margin: 0px 10px;
}

header ul{
	display: flex;
	justify-content: space-between;
	padding: 0 0px;
	margin: 0;
}

header li{
	display: inline;

}

button{
	font-size: 2.1rem; 
	line-height: 1.35; 
	font-family: "Souvenir-medium";
	color: #027003;
	background-color: #F8FFF6;
	outline: none;
	border:0px;
	opacity: 0.3;
	cursor: pointer;
}
button:hover{
	opacity: 1;
}

.true{
	opacity: 1;
}

.slick-next:before, .slick-prev:before{color: green; opacity:1; font-size: 20px;}
.slick-next{right:-30px;}
.slick-prev{left:-30px;}

header li:hover{
	opacity: 1;
}

footer{
	text-align: center;
}

.container{
	padding: 0 0px;
}

.stuck{
	position: fixed;
	top:0;
	left: 0;
	background-color: #F8FFF6;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); 
	width: 100vw;
	margin-left: 0;
}
.stuck ul{
	max-width: 80%;
	margin:0 auto;
}

.stuckMainDesktop{
	margin-top: 132px;
}

.stuckMainMobile{
	margin-top: 110px;
}




@media (max-width: 720px) {
	.columns, .column{
		width: 90%;
		margin-left: 5%;
	}
	.titleArea{
		margin-bottom: 0px !important;
	}
	button{
		font-size: 4.2rem;
	}
	.line{
		width: 30px;
	}
	.monthMask{
		z-index: 100;
		width: 140px;
		height: 4.8rem;
		position: absolute;
	}
	.container .leftBox{
		top: 0;
		left: 0;
		background: -webkit-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to right, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* Standard syntax */
	}
	.container .rightBox{
		top: 0;
		right: 0;
		background: -webkit-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient(left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* For Firefox 3.6 to 15 */
		background: linear-gradient(to left, rgba(248, 255, 246, 1) , rgba(248, 255, 246, 0.1)); /* Standard syntax */
	}

}
